/**
* Global CSS
*/
.root{
    -fx-background-color: #ffffff;
    -fx-background: #ffffff;
}

/*
* Peut être modifier par l'utilisateur
*/
.menu_container {
    -fx-background-color: #bfbfbf;
}

.panel_container {
    -fx-background-color: #ffffff;
}

/*
* Affichage de la liste des livres
*/
.items_container{
    -fx-background-color: #bfbfbf;
}

.item_container{
    -fx-border-style: none ;
}

.item_container:hover{
    -fx-border-color: red;
    -fx-border-style: solid outside ;
    -fx-border-width: 5px;
    -fx-border-radius: 5px 5px;
}

.item_container_active{
    -fx-border-color: red;
    -fx-border-style: solid outside ;
    -fx-border-width: 5px;
    -fx-border-radius: 5px 5px;
}
/*Personnalisation du label auteur*/
.item_author{
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
    -fx-text-fill: #ff0000;
}
/*Personnalisation du label livre*/
.item_book{
    -fx-text-alignment: center;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
}

/*Personnalisation des label dans les formulaires*/
.form_label{
    -fx-text-alignment: right;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
    -fx-padding: 2px;
    -fx-border-color: red;
    -fx-border-style: solid outside;
    -fx-border-width: 0px;
    -fx-border-radius: 5px 5px;
    -fx-background-color: #ffffff;
}

.form_label_field{
    -fx-text-alignment: right;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
    -fx-padding: 2px;
    -fx-border-color: #d3d3d3;
    -fx-border-style: solid outside;
    -fx-border-width: 1px;
    -fx-border-radius: 5px 5px;
    -fx-background-color: #d3d3d3;
}

/*Toolbar Default Layout*/
.toolbar{
    -fx-background-color: #bfbfbf;
}
.toolbar.button{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #074AA3;
    -fx-content-display: graphic-only;
}
.toolbar.button:hover{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #D87B1B;
    -fx-content-display: graphic-only;
}

.button{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #074AA3;
}

.button:hover{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #D87B1B;
}

.smallButton{
    -fx-background-color: #dfdfdf;
    -fx-content-display: graphic-only;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

/*Toolbar Dashboard*/
/*id : buttonLarge*/
#buttonLarge{
    -fx-graphic: url("../../../../../images/blue/details-large-view-32.png");
}
#buttonLarge:hover{
    -fx-graphic: url("../../../../../images/orange/details-large-view-32.png");
}
/*id: buttonList*/
#buttonList{
    -fx-graphic: url("../../../../../images/blue/list-view-32.png");
}
#buttonList:hover{
    -fx-graphic: url("../../../../../images/orange/list-view-32.png");
}

/*Paginator*/
/*id : buttonFirst*/
#buttonFirst{
    -fx-graphic: url("../../../../../images/blue/first-16.png");
}
#buttonFirst:hover{
    -fx-graphic: url("../../../../../images/orange/first-16.png");
}
/*id : buttonLast*/
#buttonLast{
    -fx-graphic: url("../../../../../images/blue/last-16.png");
}
#buttonLast:hover{
    -fx-graphic: url("../../../../../images/orange/last-16.png");
}
/*id : buttonPrevious*/
#buttonPrevious{
    -fx-graphic: url("../../../../../images/blue/previous-16.png");
}
#buttonPrevious:hover{
    -fx-graphic: url("../../../../../images/orange/previous-16.png");
}
/*id : buttonNext*/
#buttonNext{
    -fx-graphic: url("../../../../../images/blue/next-16.png");
}
#buttonNext:hover{
    -fx-graphic: url("../../../../../images/orange/next-16.png");
}
/*For all*/
/*id : buttonClose*/
#buttonClose{
    -fx-graphic: url("../../../../../images/blue/close-16.png");
}
#buttonClose:hover{
    -fx-graphic: url("../../../../../images/orange/close-16.png");
}