/**
* Global CSS
*/
.root{
    -fx-background-color: #ffffff;
    -fx-background: #ffffff;
}

/*
* Peut être modifier par l'utilisateur
*/
.menu_container {
    -fx-background-color: #bfbfbf;
}

.panel_container {
    -fx-background-color: #ffffff;
}

/*
* Affichage de la liste des livres
*/
.items_container{
    -fx-background-color: #bfbfbf;
}

.item_container{
    -fx-border-style: none ;
}

.item_container:hover{
    -fx-background-color : #ff9900;
    -fx-border-color: #ff9900;
    -fx-border-style: solid outside ;
    -fx-border-width: 5px;
    -fx-border-radius: 5px 5px;
}

.item_container_active{
    -fx-background-color : #ff9900;
    -fx-border-color: #ff9900;
    -fx-border-style: solid outside ;
    -fx-border-width: 5px;
    -fx-border-radius: 5px 5px;
}
/*Personnalisation du label auteur*/
.item_author{
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
    -fx-text-fill: #074AA3;
}
/*Personnalisation du label livre*/
.item_book{
    -fx-text-alignment: center;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #804000;
}

/*Personnalisation des label dans les formulaires*/
.form_label{
    -fx-text-alignment: right;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
    -fx-padding: 2px;
    -fx-border-color: red;
    -fx-border-style: solid outside;
    -fx-border-width: 0px;
    -fx-border-radius: 5px 5px;
    -fx-background-color: #ffffff;
}

.form_label_field{
    -fx-text-alignment: right;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
    -fx-padding: 2px;
    -fx-border-color: #d3d3d3;
    -fx-border-style: solid outside;
    -fx-border-width: 1px;
    -fx-border-radius: 5px 5px;
    -fx-background-color: #d3d3d3;
}

/*Toolbar Default Layout*/
.toolbar{
    -fx-background-color: #bfbfbf;
}
.toolbar_button{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #074AA3;
    -fx-content-display: graphic-only;
}
.toolbar_button:hover{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #D87B1B;
    -fx-content-display: graphic-only;
}
.toolbar_button:selected{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #D87B1B;
    -fx-content-display: graphic-only;
    -fx-border-style: solid;
    -fx-border-color: #D87B1B;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

/*End Toolbar*/

.button{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #074AA3;
    -fx-content-display: graphic-only;
}

.button:hover{
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #D87B1B;
    -fx-content-display: graphic-only;
}

.formButton{
    -fx-background-color: #dfdfdf;
    -fx-content-display: graphic-only;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}

.smallButton{
    -fx-background-color: #dfdfdf;
    -fx-content-display: graphic-only;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.mediumWhiteButton{
    -fx-background-color: #ffffff;
    -fx-content-display: graphic-only;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
}

.mediumWhiteButton:hover{
    -fx-background-color: #ffffff;
    -fx-content-display: graphic-only;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
}

.mediumWhiteMenuButton{
    -fx-background-color: #ffffff;
    -fx-content-display: graphic-only;
    -fx-pref-width: 48px;
    -fx-pref-height: 32px;
    -fx-min-width: 48px;
    -fx-min-height: 32px;
    -fx-max-width: 18px;
    -fx-max-height: 32px;
}

.mediumWhiteMenuButton:hover{
    -fx-background-color: #ffffff;
    -fx-content-display: graphic-only;
    -fx-pref-width: 48px;
    -fx-pref-height: 32px;
    -fx-min-width: 48px;
    -fx-min-height: 32px;
    -fx-max-width: 48px;
    -fx-max-height: 32px;
}

/*Toolbar Dashboard*/
/*id : buttonLarge*/
#buttonLarge{
    -fx-graphic: url("../../../../../images/blue/details-large-view-32.png");
}
#buttonLarge:hover{
    -fx-graphic: url("../../../../../images/orange/details-large-view-32.png");
}
/*id: buttonList*/
#buttonList{
    -fx-graphic: url("../../../../../images/blue/list-view-32.png");
}
#buttonList:hover{
    -fx-graphic: url("../../../../../images/orange/list-view-32.png");
}
/*id : buttonAuthor*/
#buttonAuthor{
    -fx-graphic: url("../../../../../images/blue/group-32.png");
}
#buttonAuthor:hover{
    -fx-graphic: url("../../../../../images/orange/group-32.png");
}
/*id : buttonBook*/
#buttonBook{
    -fx-graphic: url("../../../../../images/blue/books-32.png");
}
#buttonBook:hover{
    -fx-graphic: url("../../../../../images/orange/books-32.png");
}
/*id : buttonAdd*/
#buttonAdd{
    -fx-graphic: url("../../../../../images/blue/add-row-32.png");
}
#buttonAdd:hover{
    -fx-graphic: url("../../../../../images/orange/add-row-32.png");
}
/*id : buttonBrowser*/
#buttonBrowser{
    -fx-graphic: url("../../../../../images/blue/globe-32.png");
}
#buttonBrowser:hover{
    -fx-graphic: url("../../../../../images/orange/globe-32.png");
}


/*Paginator*/
/*id : buttonFirst*/
#buttonFirst{
    -fx-graphic: url("../../../../../images/blue/first-16.png");
}
#buttonFirst:hover{
    -fx-graphic: url("../../../../../images/orange/first-16.png");
}
/*id : buttonLast*/
#buttonLast{
    -fx-graphic: url("../../../../../images/blue/last-16.png");
}
#buttonLast:hover{
    -fx-graphic: url("../../../../../images/orange/last-16.png");
}
/*id : buttonPrevious*/
#buttonPrevious{
    -fx-graphic: url("../../../../../images/blue/previous-16.png");
}
#buttonPrevious:hover{
    -fx-graphic: url("../../../../../images/orange/previous-16.png");
}
/*id : buttonNext*/
#buttonNext{
    -fx-graphic: url("../../../../../images/blue/next-16.png");
}
#buttonNext:hover{
    -fx-graphic: url("../../../../../images/orange/next-16.png");
}
/*For all*/
/*id : buttonClose*/
#buttonClose{
    -fx-graphic: url("../../../../../images/blue/close-16.png");
}
#buttonClose:hover{
    -fx-graphic: url("../../../../../images/orange/close-16.png");
}
/*id : buttonShow*/
#buttonShow{
    -fx-graphic: url("../../../../../images/blue/top-navigation-16.png");
}
#buttonShow:hover{
    -fx-graphic: url("../../../../../images/orange/top-navigation-16.png");
}
/*id : buttonSave*/
#buttonSave{
    -fx-graphic: url("../../../../../images/blue/save-24.png");
}
#buttonSave:hover{
    -fx-graphic: url("../../../../../images/orange/save-24.png");
}
/*id : buttonCancel*/
#buttonCancel{
    -fx-graphic: url("../../../../../images/blue/close-24.png");
}
#buttonCancel:hover{
    -fx-graphic: url("../../../../../images/orange/close-24.png");
}
/*id : buttonShowList*/
#buttonShowList{
    -fx-graphic: url("../../../../../images/blue/list-view-16.png");
}
#buttonShowList:hover{
    -fx-graphic: url("../../../../../images/orange/list-view-16.png");
}
/*id : buttonBrowserHome*/
#buttonBrowserHome{
    -fx-graphic: url("../../../../../images/blue/home-16.png");
}
#buttonBrowserHome:hover{
    -fx-graphic: url("../../../../../images/orange/home-16.png");
}
/*id : buttonBrowserFavorite*/
#buttonBrowserFavorite{
    -fx-graphic: url("../../../../../images/blue/favorite-16.png");
}
#buttonBrowserFavorite:hover{
    -fx-graphic: url("../../../../../images/orange/favorite-16.png");
}
/*id : buttonFilter*/
#buttonFilter{
    -fx-graphic: url("../../../../../images/blue/filled-filter-16.png");
}
#buttonFilter:hover{
    -fx-graphic: url("../../../../../images/orange/filled-filter-16.png");
}
/*id : buttonAdd*/
#buttonAdd{
    -fx-graphic: url("../../../../../images/blue/plus-16.png");
}
#buttonAdd:hover{
    -fx-graphic: url("../../../../../images/orange/plus-16.png");
}
